/*PARAMETRES GENERAUX*/

html{
    font-size:88.5%;
    font-family: Helvetica, serif;
    line-height:1.5rem;

}

body{
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.clear{
    clear:both;
}

/*RESET DES LIENS*/
a{
    text-decoration: none;
}

.container{
    width:100%;
    max-width:960px;
    margin:0 auto;
}

/*TEXTE EN MAJUSCULE*/
h1,nav a, h2, h3, .price{
    text-transform:uppercase;
    margin-bottom:1rem;
}

/*HEADER : NOM ENTREPRISE + NAV*/

header, nav a{
    color:#203C4D;
    font-weight: bold;  
}

header{
    padding:1rem 0 1rem;
}

header h2{
    float:left;
}

/*****    NAV MENU    *****/

nav{
    text-align:right;
}

nav li{
    display:inline-block;
}

#scroll-menu ul li{
    display:inherit;
}

#scroll-menu a{
    display: block;
}

#scroll-menu a:hover{
    color:#079CF0;
}

#scroll-menu>li{
    padding: 0 1rem;
}

#scroll-menu ul{
    border:0.1rem solid black;
    background-color: #fff;
}

#scroll-menu ul li{
    padding:0.5rem;
}

#scroll-menu ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
}
#scroll-menu li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

/*PHOTO ET ACCROCHE DE LA PAGE*/
.front-page{
    text-align:center;
    background: url(../images/car-list.jpg)no-repeat center;
    background-size:100% 100%;
    width:100%;
    height:15rem;
    margin-bottom:2rem;
}

.front-page h1{
    position:absolute;
    top:11.5rem;
    left:20rem;
    color:white;
    font-size:2rem;
}


/******    CAR LIST     *************/
.car-list div{
    width:100%;
    height:20%;
    background-color: #F6F6F6;
    line-height:1.8rem;
    color:#205997;
    margin-bottom:2rem;
    
}
.car-list img{
    float:left;
    width:20%;
    margin-right:1rem;
    
}

.car-list div p>span a{
    float:right;
    color:#3B98CE;
}

.car-list .tags{
    background-color: #1D4156;
    color:#fff;
    float:right;
    margin-top:3rem;
    padding:0.5rem;
}


/**** FORMULAIRE DE CHOIX DE VOITURE, DATE ET LIEU *****/
form{
    background-color: #333333;
    width:70%;
    padding:1rem;
    color: #fff;
    text-transform:uppercase;
}

form div{
    padding:1rem;
}

form option{
    padding:0.3rem;
}

form div:last-child input{
    background-color: #067ABC;
    border:none;
    color:#fff;
    padding:1rem;
    text-transform:uppercase;
    font-weight: bold;  
}

.error-form{
    background-color: #B94A48;
    color: #fff;
    padding:1rem;
    margin-bottom:2rem;
    width:70%;
}

/************   FOOTER   ************/

footer{
    color:#698B8B;
    background-color: #1D4156;
    border-top:0.5rem solid #079CF0;
    padding:1rem;
    margin-top:2rem;
}

footer div{
    width:30%;
    float:left;
    margin: 0 auto;
}

footer div:last-child{
    float:none;
    margin-top:11rem;
    text-align: center;
    background-color: #183545;
    width:100%;
    padding:2rem;
}

footer h2{
    color:#fff;
}

footer a{
    color:#698B8B;
}

footer a:hover{
    color:#fff;
}

footer li{
    margin-bottom:0.5rem;
}


#map{
    height:300px;
}

